.balanceContainer {
  height: 80px;
  width: 480px;
  background: rgba(82, 59, 126, 0.60);
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 32px;
  padding-top: 12px;
}

.balanceTitle {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.09;
  color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
  height: 9px;
}

.remainBalance {
  color: var(--white-color);
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  font-family: var(--font-family);
  font-weight: 700;
  height: 36px;
}