.currencyDiagram {
  position: relative;
  display: block;
  height: auto;
  background: rgba(74, 86, 226, 0.1);
  max-height: 185px;

  @media only screen and (max-width: 1281px) {
      max-width: 480px;
  }

  img {

      @media only screen and (max-width: 1281px) {
          width: 480px;
          max-height: 167px;
      }
  }
}

.lowerNumber {
  position: absolute;
  top: 12px;
  left: 48px;

  color: #FF868D;
  font-size: 12px;
  font-weight: 400;

  @media only screen and (max-width: 1279px) {
      display: none;
  }
}

.higherNumber {
  position: absolute;
  top: -21px;
  right: 97px;

  color: #FF868D;
  font-size: 12px;
  font-weight: 400;

  @media only screen and (max-width: 1279px) {
      display: none;
  }
}

.diagramImage {
  max-width: 100%;
  height: auto;
}