.sidebarContainer {
    height: 100vh;
    width: 480px;
    padding-top: 120px;

}
.menu {
    padding-left: 16px;
    padding-bottom: 28px;
}
.navItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 12px;
    color: var(--white-color);    gap: 23px;
    font-family: var(--primarily-font-size);
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}